<div>
<h1>以下の内容で送信しますか？</h1>

<%= form_with(model: @user,url: users_path,local: true) do |form|%>

  <%= form.hidden_field :name%>
  <%= form.hidden_field :email%>
  <%= form.hidden_field :password%>
  <%= form.hidden_field :password_confirmation%>
  <%= form.hidden_field :birthday%>
  <%= form.hidden_field :postal%>
  <%= form.hidden_field :address%>
  <%= form.hidden_field :tel%>

  <p>名前:<%= @user.name%></p><br>
  <p>メールアドレス:<%= @user.email%></p><br>
  <p>誕生日:<%= @user.birthday%></p><br>
  <p>郵便番号:<%= @user.postal%></p><br>
  <p>住所:<%= @user.address%></p><br>
  <p>電話番号:<%= @user.tel%></p><br>

  <%= form.submit '登録する'%>
<% end%>

<%= form_with(model: @user, url:new_user_path, local:true, method:"get") do |form| %>
  <%= form.submit "戻る", name: "back" %>
<% end %>

</div>
