<h1>New Prescription</h1>

<%= render 'form', prescription: @prescription %>

<tbody>
  <% @medicines.each do |medicine| %>
    <tr>
      <td><%= medicine.name %></td>
      <td><%= medicine.original_price %></td>
      <td><%= medicine.generic_price %></td>
      <td><%= medicine.standard %></td>

    </tr>
  <% end %>
  <%= autocomplete_field_tag 'medicine[name]', nil,  autocomplete_medicine_name_prescriptions_path %>
</tbody>
