<%= form_with(model: user, local: true, url:confirm_users_path) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_area :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_area :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.text_area :birthday %>
  </div>

  <div class="field">
    <%= form.label :postal %>
    <%= form.text_area :postal %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_area :tel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
