<%= form_with(model: user, local: true, url:confirm_users_path) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="user_fields_parent">
  <div class="user_fields_inner">
    <table>
      <tr>
        <th><%= form.label :name,"名前" %></th>
        <td><%= form.text_field :name %></td>
      </tr>

      <tr>
        <th><%= form.label :password,"パスワード" %></th>
        <td><%= form.password_field :password %></td>
      </tr>

      <tr>
        <th><%= form.label :password_confirmation,"確認用パスワード" %></th>
        <td><%= form.password_field :password_confirmation %></td>
      </tr>

      <tr>
        <th><%= form.label :email, "メールアドレス" %></th>
        <td><%= form.text_field :email %></td>
      </tr>

      <tr>
        <th><%= form.label :birthday ,"誕生日"%></th>
        <td><%= form.date_field :birthday %></td>
      </tr>

      <tr>
        <th><%= form.label :postal,"郵便番号 〒" %></th>
        <td><%= form.text_field :postal %></td>
      </tr>

      <tr>
        <th><%= form.label :address ,"住所"%></th>
        <td><%= form.text_field :address %></td>
      </tr>

      <tr>
        <th><%= form.label :tel ,"電話番号"%></th>
        <td><%= form.text_field :tel %></td>
      </tr>
    </table>
  </div>
  <br>
  <div class="user_fields_inner">
    <table>
      <tr>
        <%= form.submit %>
      </tr>
    </table>
  </div>
</div>

<% end %>
